Repository yana-alia/revzen: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pipeline-pass, backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

pipeline-pass:
  stage: pass
  script:
  - echo "No jobs required for this commit."

backend-build:
  before_script:
  - cd revzen_backend
  image: rust:latest
  cache:
    key: backend-shared-cache
    paths:
    - revzen_backend/target/
    - .cargo/
  stage: build
  script:
  - cargo build --verbose

backend-test:
  before_script:
  - cd revzen_backend
  image: rust:latest
  cache:
    key: backend-shared-cache
    paths:
    - revzen_backend/target/
    - .cargo/
  stage: test
  script:
  - cargo test --verbose

backend-clippy:
  before_script:
  - cd revzen_backend
  image: rust:latest
  cache:
    key: backend-shared-cache
    paths:
    - revzen_backend/target/
    - .cargo/
  stage: lint
  allow_failure: true
  script:
  - cargo clippy --verbose

backend-fmt:
  before_script:
  - cd revzen_backend
  image: rust:latest
  cache:
    key: backend-shared-cache
    paths:
    - revzen_backend/target/
    - .cargo/
  stage: lint
  allow_failure: true
  script:
  - cargo fmt --check

build-android:
  before_script:
  - cd revzen
  - chmod +x ./gradlew
  image: androidsdk/android-30
  cache:
    key: android-frontend-$CI_COMMIT_SHA
    paths:
    - .m2/
    - .gradle/
  stage: build
  script:
  - ./gradlew assembleDebug
  artifacts:
    paths:
    - revzen/app/build/outputs/apk/debug/app-debug.apk

test-android:
  before_script:
  - cd revzen
  - chmod +x ./gradlew
  image: androidsdk/android-30
  cache:
    key: android-frontend-$CI_COMMIT_SHA
    paths:
    - .m2/
    - .gradle/
  stage: test
  script:
  - ./gradlew test

lint-android:
  before_script:
  - cd revzen
  - chmod +x ./gradlew
  image: androidsdk/android-30
  cache:
    key: android-frontend-$CI_COMMIT_SHA
    paths:
    - .m2/
    - .gradle/
  stage: lint
  script:
  - ./gradlew lint
  allow_failure: true
  artifacts:
    when: on_failure
    paths:
  ...

pages:
  before_script:
  - cd revzen
  - chmod +x ./gradlew
  image: androidsdk/android-30
  cache:
    key: android-frontend-$CI_COMMIT_SHA
    paths:
    - .m2/
    - .gradle/
  stage: deploy
  script:
  - ./gradlew assembleDebug
  - mkdir ../public
  - mkdir ../public/android_app
  ...

Backend and frontend now connected, can see users claiming revision time. [ ok220 ]
  revzen/.idea/deploymentTargetDropDown.xml
  revzen/.idea/misc.xml
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/res/layout/activity_main.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/values/strings.xml
  revzen_backend/src/main.rs
  revzen_backend/src/static_pages/revising.html
  revzen_backend/src/static_pages/revzen.html
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Updated logos for backend hosted site [ ok220 ]
  revzen_backend/.env
  revzen_backend/src/static_pages/policy.html
  revzen_backend/src/static_pages/revising.html
  revzen_backend/src/static_pages/revzen.html
Due: backend-build, backend-test, backend-clippy, backend-fmt

Updated CI for dev deployment [ ok220 ]
  .gitlab-ci.yml
  revzen_backend/.env
  revzen_backend/src/static_pages/policy.html
  revzen_backend/src/static_pages/revising.html
Due: backend-build, backend-test, backend-clippy, backend-fmt

Override onBackPressed to disable the back button in activities where back button shouldn't be allowed. This is necessary as the back button doesn't trigger onUserLeaveHint [ac320]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

Setup basic database connection, with users insert [ ok220 ]
  revzen_backend/.env
  revzen_backend/Cargo.lock
  revzen_backend/Cargo.toml
  revzen_backend/Procfile
  revzen_backend/check.sh
  revzen_backend/diesel.toml
  revzen_backend/launch.sh
  revzen_backend/migrations/.gitkeep
  revzen_backend/migrations/00000000000000_diesel_initial_setup/down.sql
  revzen_backend/migrations/00000000000000_diesel_initial_setup/up.sql
  revzen_backend/migrations/2022-06-11-223237_users/down.sql
  revzen_backend/migrations/2022-06-11-223237_users/up.sql
  revzen_backend/readme.md
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
  revzen_backend/src/static_pages/revising.html
  revzen_backend/src/static_pages/revzen.html
  revzen_backend/util.sh
Due: backend-build, backend-test, backend-clippy, backend-fmt

User data retrieval now working [ ok220 ]
  revzen_backend/Cargo.lock
  revzen_backend/Cargo.toml
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
  revzen_backend/src/static_pages/handler_404.html
  revzen_backend/src/static_pages/mod.rs
  revzen_backend/util.sh
Due: backend-build, backend-test, backend-clippy, backend-fmt

Refactor and cleanup of backend code [ ok220 ]
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
  revzen_backend/src/pages/handler_404.html
  revzen_backend/src/pages/handler_500.html
  revzen_backend/src/pages/mod.rs
  revzen_backend/src/pages/policy.html
  revzen_backend/src/pages/revzen.html
Due: backend-build, backend-test, backend-clippy, backend-fmt

changed 0.toLong to use long literal instead [ ok220, ac320 ]
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

Updated doc comment for BACKEND_VERSION, incremented the backend version, improved util.sh help text and updated the main backend readme [ ok220 ]
  revzen_backend/Procfile
  revzen_backend/launch.sh
  revzen_backend/readme.md
  revzen_backend/src/main.rs
  revzen_backend/util.sh
Due: backend-build, backend-test, backend-clippy, backend-fmt

Locked orientation to portrait mode [ac320,dam20]
  revzen/app/src/main/AndroidManifest.xml
Due: build-android, test-android, lint-android, pages

Set gradle to run without daemon and used local gradle buildcache [ ok220 ]
  .gitlab-ci.yml
  revzen/settings.gradle
Due: build-android, test-android, lint-android, pages

Fixed bug with build caching [ ok220 ]
  revzen/gradle.properties
Due: build-android, test-android, lint-android, pages

preliminary changes to colours and themes [ac320,dam20]
  revzen/.idea/vcs.xml
  revzen/app/src/main/res/layout/activity_break.xml
  revzen/app/src/main/res/layout/activity_fail.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_setup.xml
  revzen/app/src/main/res/layout/activity_study.xml
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/values-night/themes.xml
  revzen/app/src/main/res/values/colors.xml
  revzen/app/src/main/res/values/themes.xml
Due: build-android, test-android, lint-android, pages

All colours are now relative to theme settings, none are hard coded. Colour palettes can be changed from themes.xml [ac320,dam20]
  revzen/app/src/main/res/layout/activity_break.xml
  revzen/app/src/main/res/layout/activity_fail.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_setup.xml
  revzen/app/src/main/res/layout/activity_study.xml
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/values-night/themes.xml
  revzen/app/src/main/res/values/colors.xml
  revzen/app/src/main/res/values/themes.xml
Due: build-android, test-android, lint-android, pages

data can now be passed between activities via intent extras [ac320]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

data passed is used to set study length [ac320]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

data is passed to set break length [ac320]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

fixed bug so that time is passed as doubles, allowing non integer times [ac320]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

Value of Study and Break times are now read from respective Spinners correctly [ mn820, ac320 ]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
Due: build-android, test-android, lint-android, pages

Added string formatting to spinners and fixed gradle issue (potential oom) [ mn820, ok220 ]
  .gitlab-ci.yml
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
Due: build-android, test-android, lint-android, pages

API now allows revision sessions to be inserted [ ok220 ]
  revzen_backend/migrations/2022-06-14-154142_histories/down.sql
  revzen_backend/migrations/2022-06-14-154142_histories/up.sql
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

API now allows for history retrieval [ ok220 ]
  revzen_backend/migrations/2022-06-14-154142_histories/up.sql
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

API get history now responding with correct json [ ok220 ]
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

added custom icon [ac320,dam20]
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/res/drawable/icon.png
  revzen/app/src/main/res/drawable/logo.png
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  revzen/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  revzen/app/src/main/res/mipmap-anydpi-v26/revzen_icon.xml
  revzen/app/src/main/res/mipmap-anydpi-v26/revzen_icon_round.xml
  revzen/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  revzen/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  revzen/app/src/main/res/mipmap-hdpi/revzen_icon.png
  revzen/app/src/main/res/mipmap-hdpi/revzen_icon_foreground.png
  revzen/app/src/main/res/mipmap-hdpi/revzen_icon_round.png
  revzen/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  revzen/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  revzen/app/src/main/res/mipmap-mdpi/revzen_icon.png
  revzen/app/src/main/res/mipmap-mdpi/revzen_icon_foreground.png
  revzen/app/src/main/res/mipmap-mdpi/revzen_icon_round.png
  revzen/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  revzen/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  revzen/app/src/main/res/mipmap-xhdpi/revzen_icon.png
  revzen/app/src/main/res/mipmap-xhdpi/revzen_icon_foreground.png
  revzen/app/src/main/res/mipmap-xhdpi/revzen_icon_round.png
  revzen/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  revzen/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  revzen/app/src/main/res/mipmap-xxhdpi/revzen_icon.png
  revzen/app/src/main/res/mipmap-xxhdpi/revzen_icon_foreground.png
  revzen/app/src/main/res/mipmap-xxhdpi/revzen_icon_round.png
  revzen/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  revzen/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  revzen/app/src/main/res/mipmap-xxxhdpi/revzen_icon.png
  revzen/app/src/main/res/mipmap-xxxhdpi/revzen_icon_foreground.png
  revzen/app/src/main/res/mipmap-xxxhdpi/revzen_icon_round.png
  revzen/app/src/main/res/values/revzen_icon_background.xml
  revzen/app/src/main/revzen_icon-playstore.png
Due: build-android, test-android, lint-android, pages

Enabled program to change test of Recent buttons and start a session with correct values when clicked [ mn820 ]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/res/layout/activity_setup.xml
  revzen/app/src/main/res/values/colors.xml
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

Added time based warnings & fails and improved UI [dam20, ac320]
  revzen/.idea/misc.xml
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/res/drawable/petbreak.png
  revzen/app/src/main/res/drawable/petbroken.png
  revzen/app/src/main/res/drawable/petfail.png
  revzen/app/src/main/res/drawable/petsession.png
  revzen/app/src/main/res/drawable/petstudy.png
  revzen/app/src/main/res/layout/activity_break.xml
  revzen/app/src/main/res/layout/activity_fail.xml
  revzen/app/src/main/res/layout/activity_study.xml
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

Corrected string format for times and hides recent options if none available [ mn820 ]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
Due: build-android, test-android, lint-android, pages

Added front end code to display health bar [dam20, ac320]
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/res/drawable/heart0.png
  revzen/app/src/main/res/drawable/heart1.png
  revzen/app/src/main/res/drawable/heart2.png
  revzen/app/src/main/res/drawable/heart3.png
  revzen/app/src/main/res/layout/activity_fail.xml
Due: build-android, test-android, lint-android, pages

Created basic wrapper for the api in the frontend [ ok220 ]
  revzen/app/build.gradle
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiError.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandlerFactory.kt
  revzen/app/src/main/java/revzen/app/api/HistoryResponse.kt
  revzen/app/src/main/java/revzen/app/api/LoginResponse.kt
  revzen/app/src/main/java/revzen/app/api/TimeResponse.kt
Due: build-android, test-android, lint-android, pages

Redesigned summary page, began work on calculating xp by passing list through intents [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

User can now login, get username and friendcode [ ok220 ]
  revzen/app/build.gradle
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/CreateAccountActivity.kt
  revzen/app/src/main/java/revzen/app/LoginActivity.kt
  revzen/app/src/main/java/revzen/app/MainActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandlerFactory.kt
  revzen/app/src/main/res/layout/activity_create_account.xml
  revzen/app/src/main/res/layout/activity_login.xml
  revzen/app/src/main/res/layout/activity_main.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/values/strings.xml
  revzen/build.gradle
Due: build-android, test-android, lint-android, pages

Can now contact backend to share session information, as well as retrieve history [ ok220 ]
  .gitlab-ci.yml
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/CreateAccountActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/java/revzen/app/LoginActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SessionData.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/StudyHistoryActivity.kt
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_setup.xml
  revzen/app/src/main/res/layout/activity_study_history.xml
  revzen/app/src/main/res/layout/history_row.xml
Due: build-android, test-android, lint-android, pages

Fixed bugs with displaying recent times [ ok220 ]
  .gitlab-ci.yml
  revzen/app/build.gradle
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/CreateAccountActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/StudyHistoryActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandlerFactory.kt
  revzen/app/src/main/res/layout/activity_create_account.xml
  revzen/app/src/main/res/layout/activity_login.xml
  revzen/app/src/main/res/layout/activity_study_history.xml
  revzen/app/src/main/res/layout/history_row.xml
  revzen/app/src/main/res/values-night/themes.xml
  revzen/app/src/main/res/values/themes.xml
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/main.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Setter for live revision implemented [ ok220 ]
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Added stop_revising api method [ ok220 ]
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/stop_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Finished basic frontend for live revision [ ok220 ]
  .gitlab-ci.yml
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionAdapter.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/LiveRevisionResponse.kt
  revzen/app/src/main/res/layout/activity_live_revision.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/live_revision_row.xml
  revzen/app/src/main/res/values/strings.xml
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/api/stop_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Added frontend post request for starting and stopping revision [ ok220 ]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
Due: build-android, test-android, lint-android, pages

Path conditions:
  pipeline-pass: not (any of: revzen_backend/**/*, revzen/**/*)
  backend-build: any of: revzen_backend/**/*
  backend-test: any of: revzen_backend/**/*
  backend-clippy: any of: revzen_backend/**/*
  backend-fmt: any of: revzen_backend/**/*
  build-android: any of: revzen/**/*
  test-android: any of: revzen/**/*
  lint-android: any of: revzen/**/*
  pages: any of: revzen/**/*
