Repository yana-alia/revzen: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pipeline-pass, backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Path conditions:
  pipeline-pass: not (any of: revzen_backend/**/*, revzen/**/*)
  backend-build: any of: revzen_backend/**/*
  backend-test: any of: revzen_backend/**/*
  backend-clippy: any of: revzen_backend/**/*
  backend-fmt: any of: revzen_backend/**/*
  build-android: any of: revzen/**/*
  test-android: any of: revzen/**/*
  lint-android: any of: revzen/**/*
  pages: any of: revzen/**/*

Fixed bug with Gson text in frontend, live revision now working [ ok220 ]
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionAdapter.kt
  revzen/app/src/main/java/revzen/app/LoginActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
Due: build-android, test-android, lint-android, pages

Minor refactor to remove printlns, and set deploy dev job to dev only [ ok220 ]
  .gitlab-ci.yml
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
Due: build-android, test-android, lint-android, pages

added new image assets [ac320,dam20]
  revzen/app/src/main/res/drawable/heart0.png
  revzen/app/src/main/res/drawable/heart1.png
  revzen/app/src/main/res/drawable/heart2.png
  revzen/app/src/main/res/drawable/heart3.png
  revzen/app/src/main/res/drawable/petbreak.png
  revzen/app/src/main/res/drawable/petbroken.png
  revzen/app/src/main/res/drawable/petfail.png
  revzen/app/src/main/res/drawable/petsession.png
  revzen/app/src/main/res/drawable/petstudy.png
Due: build-android, test-android, lint-android, pages

updated ui pages [ac320,dam20]
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/res/layout/activity_break.xml
  revzen/app/src/main/res/layout/activity_fail.xml
  revzen/app/src/main/res/layout/activity_study.xml
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/layout/history_row.xml
  revzen/app/src/main/res/layout/live_revision_row.xml
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

[ac320,dam20] additional wanings and fail states based on timer, front end code for pet health display, began work on calculating xp by passing list through intent
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

fixed some bugs with values not being passed to intent [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

started work on calculating xp [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

modified available study length options [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
Due: build-android, test-android, lint-android, pages

changed colour scheme on summary page [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/res/layout/activity_summary.xml
Due: build-android, test-android, lint-android, pages

xp graph implemented [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

fixed typo [ac320,dam20]
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

can now pass session data between intents using parcelable objects [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/StudyHistoryActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

reminds user to go back to the app with a notification when break is over [dam20, ac320]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/MainActivity.kt
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

xp is now calculated correctly from session lengths [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

use appropriate notification logo and notification description can now be read in full [dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
Due: build-android, test-android, lint-android, pages

use appropriate notification logo and notification description can now be read in full [dam20]
  revzen/app/src/main/res/drawable-anydpi/notif_icon.xml
  revzen/app/src/main/res/drawable-hdpi/notif_icon.png
  revzen/app/src/main/res/drawable-mdpi/notif_icon.png
  revzen/app/src/main/res/drawable-xhdpi/notif_icon.png
  revzen/app/src/main/res/drawable-xxhdpi/notif_icon.png
Due: build-android, test-android, lint-android, pages

added additional metrics to summary page [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

Refactored Client struct in api [ ok220 ]
  revzen_backend/src/api/friend_accept.rs
  revzen_backend/src/api/friend_request.rs
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/get_live_friends.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/api/stop_revising.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Created new friend status table (with composite primary key) [ ok220 ]
  revzen_backend/migrations/2022-06-16-124409_friends/down.sql
  revzen_backend/migrations/2022-06-16-124409_friends/up.sql
  revzen_backend/src/api/friend_accept.rs
  revzen_backend/src/api/friend_request.rs
  revzen_backend/src/api/get_live_friends.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Added ability to manage friends using the public api [ ok220 ]
  revzen_backend/migrations/2022-06-16-124409_friends/up.sql
  revzen_backend/src/api/friend_accept.rs
  revzen_backend/src/api/friend_request.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/manage_friends.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Improved the live revision to only retrieve user's being followed [ ok220 ]
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Changed to follower style system (like instagram), backend now working [ ok220 ]
  revzen_backend/migrations/2022-06-16-124409_friends/down.sql
  revzen_backend/migrations/2022-06-16-124409_friends/up.sql
  revzen_backend/migrations/2022-06-22-122704_follows/down.sql
  revzen_backend/migrations/2022-06-22-122704_follows/up.sql
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/get_live_friends.rs
  revzen_backend/src/api/manage_follows.rs
  revzen_backend/src/api/manage_friends.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Minor refactor of uses [ ok220 ]
  revzen_backend/src/api/get_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Added api method for retriving user details based on friendcode [ ok220 ]
  revzen_backend/src/api/get_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Added follower management to apiHandler [ ok220 ]
  revzen/app/src/main/java/revzen/app/api/ApiError.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen_backend/src/api/manage_follows.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

xp now calculated properly between minutes and seconds [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

Can now retrieve user's requests, followers, following, and requested users [ ok220 ]
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/FollowersResponse.kt
  revzen/app/src/main/java/revzen/app/api/UserDetails.kt
Due: build-android, test-android, lint-android, pages

Added apiHandler method for getting user info from get_user api method [ ok220 ]
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen_backend/src/api/get_user.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Frontend social interactions (user requests) complete
  .gitlab-ci.yml
  revzen/app/build.gradle
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/DoubleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/FollowActivity.kt
  revzen/app/src/main/java/revzen/app/FollowPageAdapter.kt
  revzen/app/src/main/java/revzen/app/FollowerFragment.kt
  revzen/app/src/main/java/revzen/app/FollowingFragment.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/RequestedFragment.kt
  revzen/app/src/main/java/revzen/app/RequestsFragment.kt
  revzen/app/src/main/java/revzen/app/SingleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/SocialViewModel.kt
  revzen/app/src/main/res/layout/activity_follow.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/fragment_follower.xml
  revzen/app/src/main/res/layout/fragment_following.xml
  revzen/app/src/main/res/layout/fragment_requested.xml
  revzen/app/src/main/res/layout/fragment_requests.xml
  revzen/app/src/main/res/layout/single_button_row.xml
  revzen/app/src/main/res/layout/two_button_row.xml
  revzen/app/src/main/res/values/strings.xml
  revzen/app/src/main/res/values/styles.xml
Due: build-android, test-android, lint-android, pages

Now able to live view friend requests, as well as to respond
  revzen/app/src/main/java/revzen/app/DoubleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/FollowActivity.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
  revzen/app/src/main/java/revzen/app/RequestsFragment.kt
  revzen/app/src/main/res/layout/fragment_follower.xml
  revzen/app/src/main/res/layout/fragment_following.xml
  revzen/app/src/main/res/layout/fragment_requested.xml
  revzen/app/src/main/res/layout/fragment_requests.xml
  revzen/app/src/main/res/layout/single_button_row.xml
  revzen/app/src/main/res/layout/two_button_row.xml
Due: build-android, test-android, lint-android, pages

Finished revzen social interface frontend, and backend [ ok220 ]
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/FollowActivity.kt
  revzen/app/src/main/java/revzen/app/FollowRequestActivity.kt
  revzen/app/src/main/java/revzen/app/FollowerFragment.kt
  revzen/app/src/main/java/revzen/app/FollowingFragment.kt
  revzen/app/src/main/java/revzen/app/LoginActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/res/layout/activity_follow.xml
  revzen/app/src/main/res/layout/activity_follow_request.xml
  revzen/app/src/main/res/layout/fragment_following.xml
  revzen/app/src/main/res/values/strings.xml
  revzen_backend/src/api/get_user.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

fix: xp now calculated properly between minutes and seconds [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
Due: build-android, test-android, lint-android, pages

added pet selet activity reachable from main menu [ac320,dam20]
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_pet_select.xml
Due: build-android, test-android, lint-android, pages

added image assets for all pets [ac320,dam20]
  revzen/app/src/main/res/drawable/calico/petbreak.png
  revzen/app/src/main/res/drawable/calico/petfail.png
  revzen/app/src/main/res/drawable/calico/petlogo.png
  revzen/app/src/main/res/drawable/calico/petstudy.png
  revzen/app/src/main/res/drawable/huskey/petbreak.png
  revzen/app/src/main/res/drawable/huskey/petfail.png
  revzen/app/src/main/res/drawable/huskey/petlogo.png
  revzen/app/src/main/res/drawable/huskey/petstudy.png
  revzen/app/src/main/res/drawable/rock/petbreak.png
  revzen/app/src/main/res/drawable/rock/petfail.png
  revzen/app/src/main/res/drawable/rock/petlogo.png
  revzen/app/src/main/res/drawable/rock/petstudy.png
  revzen/app/src/main/res/drawable/shiba/petbreak.png
  revzen/app/src/main/res/drawable/shiba/petfail.png
  revzen/app/src/main/res/drawable/shiba/petlogo.png
  revzen/app/src/main/res/drawable/shiba/petstudy.png
Due: build-android, test-android, lint-android, pages

added image assets for all pets [ac320,dam20]
  revzen/app/src/main/res/drawable/petbreak.png
  revzen/app/src/main/res/drawable/petfail.png
  revzen/app/src/main/res/drawable/petlogo.PNG
  revzen/app/src/main/res/drawable/petstudy.png
Due: build-android, test-android, lint-android, pages

added image assets for all pets [ac320,dam20]
  revzen/app/src/main/res/drawable/petbreak-calico.png
  revzen/app/src/main/res/drawable/petbreak-husky.png
  revzen/app/src/main/res/drawable/petbreak-rock.png
  revzen/app/src/main/res/drawable/petbreak-shiba.png
  revzen/app/src/main/res/drawable/petfail-calico.png
  revzen/app/src/main/res/drawable/petfail-husky.png
  revzen/app/src/main/res/drawable/petfail-rock.png
  revzen/app/src/main/res/drawable/petfail-shiba.png
  revzen/app/src/main/res/drawable/petlogo-calico.png
  revzen/app/src/main/res/drawable/petlogo-husky.png
  revzen/app/src/main/res/drawable/petlogo-rock.png
  revzen/app/src/main/res/drawable/petlogo-shiba.png
  revzen/app/src/main/res/drawable/petstudy-calico.png
  revzen/app/src/main/res/drawable/petstudy-husky.png
  revzen/app/src/main/res/drawable/petstudy-rock.png
  revzen/app/src/main/res/drawable/petstudy-shiba.png
Due: build-android, test-android, lint-android, pages

fixed filesystem hierarchy for images [ac320,dam20]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/res/drawable/petbreak_calico.png
  revzen/app/src/main/res/drawable/petbreak_husky.png
  revzen/app/src/main/res/drawable/petbreak_rock.png
  revzen/app/src/main/res/drawable/petbreak_shiba.png
  revzen/app/src/main/res/drawable/petfail_calico.png
  revzen/app/src/main/res/drawable/petfail_husky.png
  revzen/app/src/main/res/drawable/petfail_rock.png
  revzen/app/src/main/res/drawable/petfail_shiba.png
  revzen/app/src/main/res/drawable/petlogo_calico.png
  revzen/app/src/main/res/drawable/petlogo_husky.png
  revzen/app/src/main/res/drawable/petlogo_rock.png
  revzen/app/src/main/res/drawable/petlogo_shiba.png
  revzen/app/src/main/res/drawable/petstudy_calico.png
  revzen/app/src/main/res/drawable/petstudy_husky.png
  revzen/app/src/main/res/drawable/petstudy_rock.png
  revzen/app/src/main/res/drawable/petstudy_shiba.png
  revzen/app/src/main/res/layout/activity_break.xml
  revzen/app/src/main/res/layout/activity_fail.xml
  revzen/app/src/main/res/layout/activity_main.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_study.xml
  revzen/app/src/main/res/layout/history_row.xml
  revzen/app/src/main/res/layout/live_revision_row.xml
Due: build-android, test-android, lint-android, pages

barebones pet select [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/Pet.kt
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/res/layout/activity_pet_select.xml
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/values/colors.xml
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

Fixed minor resource path issues [ ok220 ]
  revzen/app/src/main/java/revzen/app/DoubleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/SingleButtonRowAdapter.kt
  revzen/app/src/main/res/layout/single_button_row.xml
  revzen/app/src/main/res/layout/two_button_row.xml
Due: build-android, test-android, lint-android, pages

Minor refactoring change, and added pet set stub method
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
Due: build-android, test-android, lint-android, pages
