Repository yana-alia/revzen: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pipeline-pass, backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Path conditions:
  pipeline-pass: not (any of: revzen_backend/**/*, revzen/**/*)
  backend-build: any of: revzen_backend/**/*
  backend-test: any of: revzen_backend/**/*
  backend-clippy: any of: revzen_backend/**/*
  backend-fmt: any of: revzen_backend/**/*
  build-android: any of: revzen/**/*
  test-android: any of: revzen/**/*
  lint-android: any of: revzen/**/*
  pages: any of: revzen/**/*

reminds user to go back to the app with a notification when break is over [dam20, ac320]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/MainActivity.kt
  revzen/app/src/main/res/values/strings.xml
Due: build-android, test-android, lint-android, pages

use appropriate notification logo and notification description can now be read in full [dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
Due: build-android, test-android, lint-android, pages

use appropriate notification logo and notification description can now be read in full [dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/res/drawable-anydpi/notif_icon.xml
  revzen/app/src/main/res/drawable-hdpi/notif_icon.png
  revzen/app/src/main/res/drawable-mdpi/notif_icon.png
  revzen/app/src/main/res/drawable-xhdpi/notif_icon.png
  revzen/app/src/main/res/drawable-xxhdpi/notif_icon.png
Due: build-android, test-android, lint-android, pages

break end notification pops up even when app is running in background [dam20, ac320]
  revzen/app/src/main/AndroidManifest.xml
  revzen/app/src/main/java/revzen/app/BgBreakService.kt
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/BreakTimer.kt
Due: build-android, test-android, lint-android, pages

disabled landscape mode [dam20, ac320]
  revzen/app/src/main/AndroidManifest.xml
Due: build-android, test-android, lint-android, pages

FIxed manifest issues [ ok220 ]
  revzen/app/src/main/AndroidManifest.xml
Due: build-android, test-android, lint-android, pages

Minor gui fix (order of description and title textviews in two_button_row) [ ok220 ]
  revzen/app/src/main/java/revzen/app/RequestedFragment.kt
  revzen/app/src/main/res/layout/two_button_row.xml
Due: build-android, test-android, lint-android, pages

Refactor to reduce technical debt and improve code style [ mn820 ]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/BreakTimer.kt
  revzen/app/src/main/java/revzen/app/CreateAccountActivity.kt
  revzen/app/src/main/java/revzen/app/DoubleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/FollowPageAdapter.kt
  revzen/app/src/main/java/revzen/app/FollowRequestActivity.kt
  revzen/app/src/main/java/revzen/app/FollowerFragment.kt
  revzen/app/src/main/java/revzen/app/FollowingFragment.kt
  revzen/app/src/main/java/revzen/app/HistoryAdapter.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionAdapter.kt
  revzen/app/src/main/java/revzen/app/LoginActivity.kt
  revzen/app/src/main/java/revzen/app/MainActivity.kt
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/java/revzen/app/RequestedFragment.kt
  revzen/app/src/main/java/revzen/app/RequestsFragment.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/res/layout/activity_create_account.xml
  revzen/app/src/main/res/layout/activity_login.xml
Due: build-android, test-android, lint-android, pages

refactored pet selection page [ac320,dam20]
  revzen/app/src/main/java/revzen/app/Pet.kt
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/res/layout/activity_pet_select.xml
Due: build-android, test-android, lint-android, pages

refactored pet selection page [ac320,dam20]
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/res/layout/activity_pet_select.xml
Due: build-android, test-android, lint-android, pages

pet selection tracked [ac320,dam20]
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
Due: build-android, test-android, lint-android, pages

pet availability through api calls [ac320,dam20]
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/PetResponse.kt
  revzen/app/src/main/res/layout/activity_pet_select.xml
  revzen/app/src/main/res/values/colors.xml
Due: build-android, test-android, lint-android, pages

all pages now use api call to decide which pet image to show [ac320,dam20]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/PetResponse.kt
  revzen/app/src/main/res/layout/activity_break.xml
  revzen/app/src/main/res/layout/activity_fail.xml
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_study.xml
Due: build-android, test-android, lint-android, pages

all pages now use api call to decide which pet image to show [ac320,dam20]
  revzen/app/src/main/java/revzen/app/Health.kt
Due: build-android, test-android, lint-android, pages

pet select page now polls api for pet info [ac320,dam20]
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/res/layout/activity_pet_select.xml
Due: build-android, test-android, lint-android, pages

dead pets now appear grey and are unclickable [ac320,dam20]
  revzen/app/src/main/java/revzen/app/Pet.kt
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/res/drawable/petgrey_calico.png
  revzen/app/src/main/res/drawable/petgrey_husky.png
  revzen/app/src/main/res/drawable/petgrey_rock.png
  revzen/app/src/main/res/drawable/petgrey_shiba.png
Due: build-android, test-android, lint-android, pages

Refactored the pet selection page [ ok220 ]
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/PetResponse.kt
Due: build-android, test-android, lint-android, pages

Setup Times now defined in seconds, to allow for easier demo [ ok220 ]
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
Due: build-android, test-android, lint-android, pages

API now returns history is descending order [ ok220 ]
  revzen_backend/src/api/get_history.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Users now have a main pet, povided through associated user details [ ok220 ]
  revzen_backend/migrations/2022-06-25-175013_pets/down.sql
  revzen_backend/migrations/2022-06-25-175013_pets/up.sql
  revzen_backend/migrations/2022-06-25-175648_users_pets/down.sql
  revzen_backend/migrations/2022-06-25-175648_users_pets/up.sql
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/get_user.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
  revzen_backend/src/schema.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Reduced database polling by the live revision api method by caching 'UserDetails' in StudyState [ ok220 ]
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/mod.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Pet data retrieval api method complete [ ok220 ]
  revzen_backend/src/api/get_pet_info.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
  revzen_backend/src/models.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Refactor of 'PetType' and implemented health update [ ok220 ]
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/get_pet_info.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/get_user.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/models.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Updated log session for pet system and general refactor [ ok220 ]
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/manage_follows.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Added apiu method to get current pet for a user. [ ok220 ]
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/get_current_pet.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Can now give users a new pet, updates current pet if they currently have none. [ ok220 ]
  revzen_backend/src/api/get_pet_info.rs
  revzen_backend/src/api/give_pet.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Pet system backend complete (+ minor refactorings) [ ok220 ]
  revzen_backend/src/api/give_pet.rs
  revzen_backend/src/api/log_session.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Allowing changes to main pet through api method (+ minor refactor) [ ok220 ]
  revzen_backend/migrations/2022-06-25-175648_users_pets/down.sql
  revzen_backend/src/api/change_pet.rs
  revzen_backend/src/api/get_current_pet.rs
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/get_pet_info.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/api/stop_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Updated version number to block old clients connecting [ ok220 ]
  revzen_backend/src/api/change_pet.rs
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/get_current_pet.rs
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/get_pet_info.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/get_user.rs
  revzen_backend/src/api/give_pet.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/manage_follows.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/api/stop_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Integrated pet api features into the frontend [ ok220 ]
  revzen/app/build.gradle
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/DoubleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/FollowRequestActivity.kt
  revzen/app/src/main/java/revzen/app/Health.kt
  revzen/app/src/main/java/revzen/app/LiveRevisionActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/Pet.kt
  revzen/app/src/main/java/revzen/app/PetSelectActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/SingleButtonRowAdapter.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/StudyHistoryActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/java/revzen/app/TimeConstants.kt
  revzen/app/src/main/java/revzen/app/api/ApiError.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandlerFactory.kt
  revzen/app/src/main/java/revzen/app/api/Health.kt
  revzen/app/src/main/java/revzen/app/api/LoginResponse.kt
  revzen/app/src/main/java/revzen/app/api/Pet.kt
  revzen/app/src/main/java/revzen/app/api/PetHealthXp.kt
  revzen/app/src/main/java/revzen/app/api/PetResponse.kt
  revzen/app/src/main/java/revzen/app/api/PetStatus.kt
  revzen/app/src/main/java/revzen/app/api/PetsResponse.kt
  revzen/app/src/main/java/revzen/app/api/UserDetails.kt
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/login_user.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Fixed max pet health to constant assigned 3 [ ok220 ]
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/mod.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

fixed some bugs [ac320,dam20,ok220]
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/java/revzen/app/TimeConstants.kt
  revzen/app/src/main/res/font/typewcond_bold.otf
  revzen/app/src/main/res/font/typewcond_demi.otf
  revzen/app/src/main/res/font/typewcond_regular.otf
  revzen/app/src/main/res/layout/activity_menu.xml
  revzen/app/src/main/res/layout/activity_summary.xml
  revzen/app/src/main/res/values/strings.xml
  revzen_backend/src/api/log_session.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

fixed bug which meant you could literally break the entire ass app with a null pointer exception. Also fixed some other stuff [ac320,dam20,ok220]
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/java/revzen/app/TimeConstants.kt
  revzen/app/src/main/java/revzen/app/api/Health.kt
  revzen/app/src/main/res/layout/activity_summary.xml
Due: build-android, test-android, lint-android, pages

further minor bug fixes [ac320,dam20,ok220]
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/java/revzen/app/TimeConstants.kt
Due: build-android, test-android, lint-android, pages

tapping on the notification deletes the notification [dam20, ac320]
  revzen/app/src/main/java/revzen/app/BgBreakService.kt
  revzen/app/src/main/java/revzen/app/BreakTimer.kt
Due: build-android, test-android, lint-android, pages

fixed notification so that it doesn't pop up when you end session or continue studying [dam20, ac320]
  revzen/app/src/main/java/revzen/app/BgBreakService.kt
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/BreakTimer.kt
Due: build-android, test-android, lint-android, pages

Altered backend to separate pet give, xp & heath, and the log session methods. [ ok220 ]
  revzen_backend/src/api/give_pet.rs
  revzen_backend/src/api/give_reward.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/mod.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Updated api version due to breaking changes [ ok220 ]
  revzen_backend/src/api/change_pet.rs
  revzen_backend/src/api/create_user.rs
  revzen_backend/src/api/get_current_pet.rs
  revzen_backend/src/api/get_follows.rs
  revzen_backend/src/api/get_history.rs
  revzen_backend/src/api/get_pet_info.rs
  revzen_backend/src/api/get_revising.rs
  revzen_backend/src/api/get_user.rs
  revzen_backend/src/api/give_pet.rs
  revzen_backend/src/api/give_reward.rs
  revzen_backend/src/api/log_session.rs
  revzen_backend/src/api/login_user.rs
  revzen_backend/src/api/manage_follows.rs
  revzen_backend/src/api/start_revising.rs
  revzen_backend/src/api/stop_revising.rs
  revzen_backend/src/main.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt

Implemented frontend changes to rewards, gaining a pet. [ ok220 ]
  revzen/app/build.gradle
  revzen/app/src/main/java/revzen/app/BreakActivity.kt
  revzen/app/src/main/java/revzen/app/FailActivity.kt
  revzen/app/src/main/java/revzen/app/MenuActivity.kt
  revzen/app/src/main/java/revzen/app/SetupActivity.kt
  revzen/app/src/main/java/revzen/app/StudyActivity.kt
  revzen/app/src/main/java/revzen/app/SummaryActivity.kt
  revzen/app/src/main/java/revzen/app/TimeConstants.kt
  revzen/app/src/main/java/revzen/app/api/ApiHandler.kt
  revzen/app/src/main/java/revzen/app/api/GiveResult.kt
  revzen/app/src/main/java/revzen/app/api/Pet.kt
  revzen/app/src/main/java/revzen/app/api/PetChange.kt
  revzen/app/src/main/java/revzen/app/api/RewardResponse.kt
  revzen/app/src/main/java/revzen/app/api/SessionData.kt
  revzen_backend/src/api/log_session.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt, build-android, test-android, lint-android, pages

Set initial health to 3 [ ok220 ]
  revzen_backend/src/api/mod.rs
Due: backend-build, backend-test, backend-clippy, backend-fmt
